body {
    background-image: url("image/eyes.gif");
    background-repeat: inherit;
}
.img
 {
    text-align: center;
    position:relative;
}
.rich
 {
    text-align: center;
    position:relative;
}
.mike
 {
    text-align: center;
    position:relative;
}
.ed
 {
    text-align: center;
    position:relative;
}
.stan
 {
    text-align: center;
    position:relative;
}
.bev
 {
    text-align: center;
    position:relative;
}
.loser
 {
    text-align: center;
    position:relative;
}
